.card.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr;
    gap: 1em;

    background-color: rgb(222, 226, 228);
    
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 20px;

    padding: 20px;
}

.img-div.gallery img {
    height: 250px;
    width: 100%;

    border-style: none;
    border-radius: 20px;

    object-fit: cover;
}

.no-img.gallery {
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 6em;
    
    width: 100%;
    height: 250px;
    padding: 2%;
}

.text-div.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    padding: 1%;
}

.card-date.gallery {
    grid-row: 2/3;
}

.card-description {
    margin-top: 5px;
}

.btn-div{
    display: grid;
    justify-content: end;
}

.btn-access{
    background-color: white;

    border-radius: 20px;
    outline: 2px solid grey;

    height: 2rem;

    padding: 5px;
}

.btn-access:hover {
    outline: 3px solid var(--color-primary);
    border-color: var(--color-primary);
}

.btn-access:focus {
    outline: 3px solid var(--color-primary);
    border-color: var(--color-primary);
}

@media screen and (max-width: 900px) {
    
}