.card.actuality {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 1em;

    background-color: rgb(222, 226, 228);
    
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;

    padding-block: 2%;
    padding-inline: 1%;
}

.img-div {
    overflow: hidden;
}

.img-div.actuality img {
    width: 100%;
    height: 250px;

    border-style: none;
    border-radius: 20px;

    object-fit: cover;
}

.no-img.actuality {
    background-color: rgba(0, 0, 0, 0.137);
    border-radius: 6em;
    
    width: 100%;
    height:250px;
}

.text-div.actuality {
    display: grid;
    grid-template-columns: 1fr;

    padding: 1%;
}

.text-div.actuality > * {
    grid-column: 1;
}

.card-description.actuality{
    padding: 1%;
}


@media screen and (max-width: 900px) {

    .card.actuality{
        grid-template-columns: 1fr;
        
    }
}