* {margin: 0; padding: 0; box-sizing: border-box;}

.footer {
    width: 100%;
    background: #25262A;
    color: #dfdfdf;
    padding: 50px 20px;
    position: absolute;
}

.footer-content {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 20px;
    align-items: start;
}



/* Permet de faire la barre entre les parties 
 .footer-content h3::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: #fff;
    margin-top: 20px;
}  */



.colonne-1 {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 20px;
}

/* COLONNE 1 GAUCHE  */
/* Logo eloquentia colonne 1  */
.colonne-1 img {
    width: 200px;
    margin-bottom: 15px;
}
.colonne-1 p {
    color: #e6e6e6;
    font-size: 15px;
    line-height: 20px;
}

/* COLONNE 2 MILIEU  */
.colonne-2 {
    padding: 10px;
    margin-bottom: 20px;
}
.colonne-2 h3 {
    color: #e6e6e6;
    font-size: 20px;
    margin-bottom: 15px;
}
.colonne-2 ul {
    list-style: none;
}
.colonne-2 ul li {
    margin-bottom: 10px;
}
.colonne-2 ul li a {
    color: #e6e6e6;
    text-decoration: none;
}

/* COLONNE 2 DROITE  */
.colonne-3 {
    padding: 10px;
    margin-bottom: 20px;
}
.colonne-3 h3 {
    color: #e6e6e6;
    font-size: 20px;
    margin-bottom: 15px;
}
.colonne-3 ul {
    list-style: none;
}
.colonne-3 ul li {
    margin-bottom: 10px;
}
.colonne-3 ul li a {
    color: #e6e6e6;
    text-decoration: none;
}

.social-icons{
    margin-top: 50px;
}

.social-icons img{
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;
}

.footer-2{
    width: 100%;
    background: #35363a;
    color: #fff;
    padding-top: 20px;
    margin:0px;  
        display: grid;

    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
    align-items: start;

}
.footer-2 a{
        text-decoration: none;
            color: #fff;


}
.footer-2 ul {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    
}

/* une des methodes pour faire une ligne  */
/* .hline { width:100%; height:3px; background: #db0190 } */