.presentation-bloc {
    background-color: var(--color-tertiary-dk);

    display: grid;
    grid-template-rows: .5fr 1fr;

    padding: 1%;

    font-size: 1.2em;
}

.presentation-title {
    font-size: 2em;
}

.presentation-title, .presentation-text {
    color: white;
    margin: 1%;
}

.presentation-banner {
    display: grid;
    justify-content: center;
    align-items: center;

    padding-top: 2em;
}

.presentation-text{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .presentation-bloc {
    height: 30vh;
    }

    .presentation-title{
        text-align: center;
    }
}